.font-poppins { font-family: 'Poppins', sans-serif; }
.bg-sidebar { background: #092056; }
.cta-btn { color: #3d68ff; }
.upgrade-btn { background: #1947ee; }
.upgrade-btn:hover { background: #0038fd; }
.active-nav-link { background: #1947ee; }
.nav-item:hover { background: #1947ee; }
.account-link:hover { background: #3d68ff; }
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.checkbox:checked {
    /* Apply class right-0 and border-indigo-700*/
    right: 0;
    border-color: #4c51bf;
}
.checkbox:checked + .toggle-label {
    /* Apply class bg-indigo-700 */
    background-color: #4c51bf;
}

.dragging {
    opacity: 0.5;
    border: 2px dashed #4CAF50;
}

.updating {
    background-color: #FFFAE6;
    border: 2px solid #FFD700;
}
